.user-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  width: 100%;
}

.user-card {

  width: 1100px;     
  max-width: 95%;   

  background: #fff;
  padding: 30px;
  border-radius: 14px;

  box-shadow: 0 8px 25px rgba(0,0,0,0.1);

}

.user-header {

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px; 

}


.add-btn {

  background: linear-gradient(to right, #4f46e5, #6366f1);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

.add-btn:hover {
  background: linear-gradient(to right, #4338ca, #4f46e5);
}

.modal-input {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
}

.modal-buttons {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.save-btn {
  background: #22c55e;
  border: none;
  padding: 8px 18px;
  color: white;
  border-radius: 6px;
}

.cancel-btn {
  background: #ef4444;
  border: none;
  padding: 8px 18px;
  color: white;
  border-radius: 6px;
}